@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@600&display=swap%27');


.navbar{
    background-color: white !important;
}

.row>*{
    width: auto !important;
}

.navbar-brand{
    padding: 21px 16px;
}

.nav-link{
    color:rgb(63, 63, 163) !important;
    padding: 25px 16px !important;
    gap: 49px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.nav-link:hover{
    color: white;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
    width: 100% !important;
}

.coll{
    width: 35%;
}

.coll1{
    width: 65%;
}

.reed{
    margin-top: 80px;
}

.read h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: rgba(0, 68, 106, 1);
}

.read p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.but1{
    background-color: rgb(0,68,106);
    color: white;
    padding: 10px 34px;
    margin-top: 70px;
    margin-right: 50px;
    border-radius: 10px;
    border: none;
}

.but1:hover{
    background-color: rgb(2, 49, 77);
    color: white;
    padding: 10px 34px;
    margin-right: 50px;
    border-radius: 10px;
    border: none;
}

.read img{
    width: 807px;
    height: 514px;
    border-radius: 22.0886px;
    margin-left: 60px;
    max-width: 100%;
}

.reed h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FF7233;
    padding: 0 30px;
}

.reed span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #26688D;   
}

.randomtext{
    display: flex;  
    position: relative;
}

.nope{
    padding-left: 0 !important;
}

.bread{
    position: absolute; 
    left: 10px;
    bottom: -20px;
}

.bread1{
    position: absolute;
    left:165px;
    bottom: -20px;
}

.bread2{
    position: absolute;
    left: 280px;
    bottom: -20px;
}

.lala{
    text-align: center;
}

.texttext{
    text-align: center;
    margin-bottom: 60px;
}

.texttext h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    margin-top: 128px;
    padding-bottom: 13px;
    color: #00446A;
}

.texttext p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.box1{
    display: flex;
    flex-wrap: wrap;
}

.col1{
    width: 33%;
    padding: 15px;
}

.read1 h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #FF7233;
}

.read1 p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.read1 h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 8px;
}

.read1{
    position: relative;
    border: 2px solid #D5E5EE;
    border-radius: 12px;
    padding: 24px 0 0 20px;
}

.read1 ul{
    margin-top: 30px;
    padding-left: 0;
}

.nono{
    background-color:rgba(0, 68, 106, 1);
}

.nono h5{
    color: white;
}

.nono p{
    color: #F3F3F3;
}

.LMG li a{
    color: #F3F3F3 !important;
}

.nono h6{
    color: white;
}

.read1 ul li{
    padding: 10px 10px 10px 0;
    list-style: none;
    
}

.read1 ul li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

li{
    position: relative;
}
.disabled1 svg{
    color:rgba(252, 128, 173, 1)
}


.disabled1 p{
    opacity: 70%;
    position: absolute;
    bottom: -8px;
    left: 20px;
}

.onlyones p{
    opacity: 100%;
}

.mygod{
    margin-top: 46px !important;
}

.mygod1{
    margin-top: 25px !important;
}

.btn-lg{
    background-color: inherit;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #F4F6FC;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.btn-lg:hover{
    background-color: inherit;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #98a6cf;
    color: white;
}

.mybutton{
    background-color: rgba(255, 114, 51, 1) !important;
    color: white !important;
}

.mybutton:hover{
    background-color: rgb(252, 222, 147);
    color: white !important;
}

.bruh{
    padding: 6px 60px;
    background-color: white;
    color: #FF7233;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    border: 2px solid #FF7233;
    border-radius: 4px;
    margin-bottom: 30px;
}

.bruh:hover{
    padding: 6px 60px;
    background-color: white;
    color: #a53b0a;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
    border: 2px solid #c9511a;
    border-radius: 4px;
    margin-bottom: 30px;
}

.box-foot{
    display: flex;
    flex-wrap: wrap;
    margin: 150px 0 90px 0;
}

.col-foot{
    width: 50% !important;
}

.qwerty{
    display: flex;
    flex-wrap: wrap;
    width: 100% !important;
}

.read-foot p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    margin-top: 30px;
}

.read-foot1{
    margin: 0 14px;
}

.read-foot1 h6{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.read-foot1 ul{
    padding-left: 0;
    margin-top: 15px;
}

.read-foot1 ul li{
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #424242;
    padding: 4px 0;
}

@media (max-width: 1200px){
    .coll{
        width: 100%;
    }
    .coll1{
        width: 100%;
        margin-top: 50px;
    }
    .box{
        text-align: center;
    }
    .randomtext {
        margin-left: 280px;
    }

    .read img{
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 1000px){
    .col1{
        width: 50%;
    }
}

@media (max-width: 992px){
    .randomtext {
        margin-left: 155px;
    }
}

@media (max-width: 769px){
    .col1{
        width: 100%;
    }
    .randomtext {
        margin-left: 75px;
    }
}

@media (max-width: 500px){
    .randomtext {
        margin-left: 0px;
    }

    .randomtext h2{
        padding: 0 20px;
    }

    .bread1 {
        left: 145px;
    }

    .bread2{
        left: 240px;
    }
}